node_modules
keyfile.json
service-account.json

tsconfig.json

.firebaserc
firebase-debug.log

*-debug.log

.DS_Store

.idea/

# pnpm manages deps in the pnpm-lock.yaml file instead
**/package-lock.json
# keep the root package-lock so that tools are consistent
!/package-lock.json

